<div class="row">
    <div class="col-xs-12" >
        <formly-form model="vm.item" fields="vm.fields">
            <button class="btn btn-default" ng-click="vm.back()">返回</button>

            <button type="submit" class="btn btn-primary"
                    ng-if="vm.operation == 'create'"
                    ng-click="vm.create()">创建</button>

            <button type="submit" class="btn btn-success"
                    ng-if="vm.operation == 'edit'"
                    ng-click="vm.modify()">修改</button>

            <button type="submit" class="btn btn-danger"
                    ng-if="vm.operation == 'delete'"
                    ng-click="vm.remove()">删除</button>
        </formly-form>
    </div>
</div>