<div class="row">
    <div class="col-xs-12" >
        <formly-form model="vm.params" fields="vm.filters">
            <button type="submit" class="btn btn-default" ng-click="vm.search(vm.params)">查询</button>
            <button class="btn btn-primary" ng-click="vm.create()">创建</button>
        </formly-form>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
                <th ng-repeat="column in vm.columns">
                    {{::column.label}}
                </th>
                <th>
                    操作
                </th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="item in vm.items">
                <td ng-repeat="column in vm.columns" data-primary="{{::!!column.primaryKey}}">
                    {{::item[column.name]}}
                </td>
                <td>
                    <button class="btn btn-default"
                            ng-click="vm.operate(item, operator)"
                            ng-class="{'btn-success': operator.operation == 'edit', 'btn-danger': operator.operation == 'delete'}"
                            ng-repeat="operator in vm.operations">{{::operator.label}}</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

